.job{
    width: 311px;
height: 243px;

border-radius: 8px;
margin-right: 20px;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.job img{
    height: 90px;
    width: 120px;
    margin-bottom: 8px;
}
@media only screen and (max-width: 425px) {
    .job{
        width: 200px;
height: 180px;
    }
    .job img{
        height: 70px;
    width: 70px;
    }
  }